
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="" class="nav-link">
             TAIKISHA CMS SUITE
          </a>
        </li>
      </ul>
      <div class="copyright">
        &copy; 
         - coded by <a target="_blank" href="https://appseed.us?ref=ct-demo">TAIKISHA INDIA IOT TEAM</a>.
      </div>
    </div>
  </footer>
