

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a target="_blank" 
             href="/" class="simple-text logo-mini">
            <img src="/core/static/assets/img/tss-logo-wh.png" alt="">
          </a>
          <a target="_blank" 
             href="" class="simple-text logo-normal">
            CMS DASHBOARD
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated and request.user.is_superuser %}
          <li class="{% if 'index' in segment %} active {% endif %} ">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Manage Complaints</p>
            </a>
          </li>
          <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="{% url 'manageUsers' %}">
              <i class="tim-icons icon-atom"></i>
              <p>Manange Users</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/forms.html">
              <i class="tim-icons icon-pin"></i>
              <p>Add Category</p>
            </a>
          </li>
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Add Subcategory</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>User Login Logs</p>
            </a>
          </li>
          
          
          {% endif %}
          <li class="active">
            <a target="_blank" 
               href="{% url 'logComplaint' %}">
              <i class="tim-icons icon-spaceship"></i>
              <p>Complaint</p>
            </a>
          </li>   
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-user-run"></i>
              <p>Logout</p>
            </a>
          </li>
        
                    
        </ul>
        
      </div>
    </div>
