{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} MANAGE USER {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheet" href="{% static '/assets/css/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/js/plugins/DataTables-1.10.23/css/dataTables.bootstrap4.min.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="row">
   
 
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
           
            <h4 class="card-title">USER TABLE</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive" style="overflow: hidden;">
              <table class="table responsive display nowrap" id="example">
                <thead class="text-primary">
                  <tr>
                    <th class="text-center">
                      #
                    </th>
                    <th class="text-center">
                        userImage
                      </th>
                    <th>
                      First Name *
                    </th>
                    <th>
                      Last Name
                    </th>
                    <th class="text-center">
                      Email
                    </th>
                    <th class="text-right">
                      Phone
                    </th>
                    <th class="text-right">
                        Address
                      </th>
                      <th class="text-right">
                        Location
                      </th>
                      <th class="text-center">
                          country
                        </th>
                      <th class="text-center">
                          empcode
                        </th>
                     
                      <th class="text-center">
                          regDate
                        </th>
                        <th class="text-center">
                            Actions
                          </th>
                  </tr>
                </thead>
                <tbody>
                    {% if users %}
                    {% for user in users %}
                  <tr>
                    <td>
                        {{user.id}}
                    </td> 
                    <td class="text-center">
                      <div class="photo">
                        <img src="{{user.userprofile.userImage.url}}" alt="photo">
                       
                      </div>
                    </td>
                    <td>
                        {{user.first_name}}
                    </td>
                    <td>
                        {{user.last_name}}
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        {{user.contactNo}}
                    </td>
                    <td>
                        {{user.userprofile.address}}
                    </td>
                    <td>
                        {{user.userprofile.Location}}
                    </td>
                    <td>
                        {{user.userprofile.country}}
                    </td>
                    <td>
                        {{user.userprofile.empcode}}
                    </td>
                    <td class="text-center">
                      {{user.userprofile.regDate}}
                    </td>
                    <td class="text-right">
                      <button type="button" rel="tooltip" class="btn btn-success btn-link btn-sm btn-icon " data-original-title="Refresh" title="">
                        <i class="tim-icons icon-pencil"></i>
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-sm " data-original-title="Delete" title="" onclick="delete_user('{{user.userprofile.id}}')">
                        <i class="tim-icons icon-simple-remove"></i>
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr><td class="text-center">
                    <div class="photo">
                     
                    </div>
                  </td>
                  <td>
                   
                  </td>
                  <td class="text-center">
                    No Data Available
                  </td>
                  <td class="text-center">
                    
                  </td>
                  
                  <td class="text-right">
                   
                  </td></tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{% static 'assets/js/plugins/DataTables-1.10.23/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/js/plugins/DataTables-1.10.23/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $(document).ready(function() {

    $('#example').DataTable( {
        "responsive": true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
    } );
    
} );

function delete_user(userid) {

    $.ajax({
                method:'DELETE',
                url:'/api/users/'+userid+'/',
                success: function(data) {
                  console.log("HIIII")
                    alert("SMS Send To Visitor");
                    // $(this).html(<small style="left: 20px; background-color: rgb(255, 255, 255); position=absolute; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small>)
                    // location.reload();
                   
                    

                }


            });
    
}
</script>
{% endblock javascripts %}