
<!DOCTYPE html>
<html lang="en">

<!-- Static assets -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png"          href="{% static 'assets/img/tss-logo-wh.png'    %}">

  <title>
   {% block title %}{% endblock %} 
  </title>

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- Nucleo Icons -->
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">
  <div class="wrapper wrapper-full-page">


    <div class="full-page -page">

        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent fixed-top" style="top: 0px; transition: all 0.5s linear 0s;">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <div class="navbar-toggle d-inline">
                  <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                  </button>
                </div>
                <a class="navbar-brand" href="/">
                   Taikisha CMS
                </a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
              </button>
              <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto">
      
                  
      
                    <li class="nav-item ">
                      <a href="/register/" class="nav-link">
                        <i class="tim-icons icon-laptop"></i> Register
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a href="/login/" class="nav-link">
                        <i class="tim-icons icon-single-02"></i> Login
                      </a>
                    </li>
      
                  
      
                </ul>
              </div>
            </div>
          </nav>
        
      <div class="content" style="padding-top: 150px;
      padding-bottom: 150px;
      position: relative;
      z-index: 4;">

        {% block content %}{% endblock content %}

      </div>

      <footer class="footer" style="padding: 24px 0 24px 25px;    position: absolute;
      width: 100%;
      bottom: 0;
      padding-left: 10px;
      padding-right: 10px;">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
                <a target="_blank" rel="noopener noreferrer" href="https://www.creative-tim.com/product/black-dashboard-pro-django?ref=demo" class="nav-link">
                   Black Dashboard PRO Django
                </a>
            </li>
          </ul>
          <div class="copyright">
            ©  
            <a target="_blank" rel="noopener noreferrer" href="https://www.creative-tim.com/?ref=dj-black-demo">Creative Tim</a> - 
            Coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us?ref=ct-demo">AppSeed</a>. 
          </div>
        </div>
      </footer>

    </div>
    
  </div>

  {% include 'includes/fixed-plugin.html' %}

  {% include 'includes/scripts.html' %}

  {% include 'includes/scripts-sidebar.html' %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>
